.big-button{
    height: 45px;
    width: 375px !important;
    margin-top: 25px;
    border-radius: 5px;
}
.header-image{
    border-radius: 0px;
    background-image: url("/assets/twitterlogo.png");
    background-size:cover;
}
.login-inputs{
    border-radius: 0px;
    width: 375px;
}

.links:hover{
    cursor: pointer;
    text-decoration: underline;
}